<div>
  <h2 id="page-heading" data-cy="CvResumeHeading">
    <span jhiTranslate="jobSearchRustApp.cvResume.home.title">CvResumes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="jobSearchRustApp.cvResume.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cv-resume"
        [routerLink]="['/cv-resume/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="jobSearchRustApp.cvResume.home.createLabel">Créer un nouveau Cv Resume</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (cvResumes().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="jobSearchRustApp.cvResume.home.notFound">Aucun Cv Resume trouvé</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.cvResume.userId">User Id</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.cvResume.title">Title</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.cvResume.template">Template</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.cvResume.data">Data</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.cvResume.versionNumber">Version Number</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.cvResume.createdAt">Created At</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.cvResume.updatedAt">Updated At</span>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (cvResume of cvResumes(); track trackId(cvResume)) {
        <tr data-cy="entityTable">
          <td><a [routerLink]="['/cv-resume', cvResume.id, 'view']">{{ cvResume.id }}</a></td>
          <td>{{ cvResume.userId }}</td>
          <td>{{ cvResume.title }}</td>
          <td>{{ cvResume.template }}</td>
          <td>{{ cvResume.data }}</td>
          <td>{{ cvResume.versionNumber }}</td>
          <td>{{ cvResume.createdAt | formatMediumDatetime }}</td>
          <td>{{ cvResume.updatedAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/cv-resume', cvResume.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>

              <a [routerLink]="['/cv-resume', cvResume.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>

              <button type="submit" (click)="delete(cvResume)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
