<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-job-application-heading"
        data-cy="JobApplicationCreateUpdateHeading"
        jhiTranslate="jobSearchRustApp.jobApplication.home.createOrEditLabel"
      >
        Créer ou éditer un Job Application
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {

        <div class="mb-3">
          <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        } @let userIdRef = editForm.get('userId')!;
        <div class="mb-3">
          <label class="form-label" for="field_userId" jhiTranslate="jobSearchRustApp.jobApplication.userId">User Id</label>
          <input type="text" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
          @if (userIdRef.invalid && (userIdRef.dirty || userIdRef.touched)) {
          <div>
            @if (userIdRef.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="jobSearchRustApp.jobApplication.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'jobSearchRustApp.ApplicationStatus.null' | translate }}</option>
            @for (applicationStatus of applicationStatusValues; track $index) {
            <option [value]="applicationStatus">{{ 'jobSearchRustApp.ApplicationStatus.' + applicationStatus | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_coverLetter" jhiTranslate="jobSearchRustApp.jobApplication.coverLetter">Cover Letter</label>
          <textarea
            class="form-control"
            name="coverLetter"
            id="field_coverLetter"
            data-cy="coverLetter"
            formControlName="coverLetter"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="jobSearchRustApp.jobApplication.notes">Notes</label>
          <textarea class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_matchScore" jhiTranslate="jobSearchRustApp.jobApplication.matchScore">Match Score</label>
          <input
            type="number"
            class="form-control"
            name="matchScore"
            id="field_matchScore"
            data-cy="matchScore"
            formControlName="matchScore"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="jobSearchRustApp.jobApplication.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedAt" jhiTranslate="jobSearchRustApp.jobApplication.updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_appliedAt" jhiTranslate="jobSearchRustApp.jobApplication.appliedAt">Applied At</label>
          <div class="d-flex">
            <input
              id="field_appliedAt"
              data-cy="appliedAt"
              type="datetime-local"
              class="form-control"
              name="appliedAt"
              formControlName="appliedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jobOffer" jhiTranslate="jobSearchRustApp.jobApplication.jobOffer">Job Offer</label>
          <select
            class="form-control"
            id="field_jobOffer"
            data-cy="jobOffer"
            name="jobOffer"
            formControlName="jobOffer"
            [compareWith]="compareJobOffer"
          >
            <option [ngValue]="null"></option>
            @for (jobOfferOption of jobOffersSharedCollection(); track $index) {
            <option [ngValue]="jobOfferOption">{{ jobOfferOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_candidateProfile" jhiTranslate="jobSearchRustApp.jobApplication.candidateProfile"
            >Candidate Profile</label
          >
          <select
            class="form-control"
            id="field_candidateProfile"
            data-cy="candidateProfile"
            name="candidateProfile"
            formControlName="candidateProfile"
            [compareWith]="compareCandidateProfile"
          >
            <option [ngValue]="null"></option>
            @for (candidateProfileOption of candidateProfilesSharedCollection(); track $index) {
            <option [ngValue]="candidateProfileOption">{{ candidateProfileOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
