<div>
  <h2 id="page-heading" data-cy="RadarHitHeading">
    <span jhiTranslate="jobSearchRustApp.radarHit.home.title">RadarHits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="jobSearchRustApp.radarHit.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-radar-hit"
        [routerLink]="['/radar-hit/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="jobSearchRustApp.radarHit.home.createLabel">Créer un nouveau Radar Hit</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (radarHits().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="jobSearchRustApp.radarHit.home.notFound">Aucun Radar Hit trouvé</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.radarHit.userId">User Id</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.radarHit.score">Score</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.radarHit.whyYou">Why You</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.radarHit.seen">Seen</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.radarHit.dismissed">Dismissed</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.radarHit.createdAt">Created At</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="jobSearchRustApp.radarHit.jobOffer">Job Offer</span>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (radarHit of radarHits(); track trackId(radarHit)) {
        <tr data-cy="entityTable">
          <td><a [routerLink]="['/radar-hit', radarHit.id, 'view']">{{ radarHit.id }}</a></td>
          <td>{{ radarHit.userId }}</td>
          <td>{{ radarHit.score }}</td>
          <td>{{ radarHit.whyYou }}</td>
          <td>{{ radarHit.seen }}</td>
          <td>{{ radarHit.dismissed }}</td>
          <td>{{ radarHit.createdAt | formatMediumDatetime }}</td>
          <td>
            @if (radarHit.jobOffer) {
            <div>
              <a [routerLink]="['/job-offer', radarHit.jobOffer.id, 'view']">{{ radarHit.jobOffer.id }}</a>
            </div>
            }
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/radar-hit', radarHit.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>

              <a [routerLink]="['/radar-hit', radarHit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>

              <button type="submit" (click)="delete(radarHit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if (radarHits().length > 0) {
  <div>
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  </div>
  }
</div>
